@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');
 
*{
    margin: 0px;
    padding: 0px;
 }
 
 :root{
    --font1: Verdana, geneva, Tahoma,sans-serif;
    --font2: 'Passion One', curseve;
    --font3: 'Sriracha', cursive;
 }
 html body{
    min-height:100vh ;
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom:50px ;
    padding-top: 50px;
}
header > h1 {
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 3.5em;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration:underline;
}
.p{
    padding: 2em;
    margin-block-end: 1em;
    margin-block-start: 1em;
}
section{
    padding: 10vh 0vh 10vh 0vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--font3);
}
section.normal{
    background-color: white;
}
section.foto{
    color: white;
    background-color:rgb(59, 59, 59)
}
section.foto > p {
    background-color: rgba(0, 0, 0, 0.342);
    display: inline-block;
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font1);
}
